---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}

    {% include feature/card.html text="Elite families in Babylonian society comprised two groups: the institutional elites and the private entrepreneurs. The former includes officials in the government and priests in the temple, who were traditional aristocrats in the cities, while the latter refers to private businessmen who were engaged in agricultural management, rent farming, domestic or long-distance trade and other business economy. Sometimes, the two can be overlapped." header="Context" %}

  
  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html field="subject" title="Subjects" btn-color="primary" %}

    {% include index/objects.html %}

    {% include feature/image.html objectid="/assets/img/neareast.jpg" %}
  </div>



  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
