---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-9">

    {% include index/description.html %}

{% capture intro %}

## Context ##

Elite families in Babylonian society comprised two groups: the institutional elites and the private entrepreneurs. The former includes officials in the government and priests in the temple, who were traditional aristocrats in the cities, while the latter refers to private businessmen who were engaged in agricultural management, rent farming, domestic or long-distance trade and other business economy. Sometimes, the two can be overlapped.

{% include feature/image.html objectid="/assets/img/neareast.jpg" width="50" caption="Babylon in the Persian empire" %}

These elite families passed down their family archives from generation to generation, some of which are preserved today. These archives consist of texts (contracts and court documents) concerning their properties, including its acquisition, management and transfer (such as inheritance divisions, dowry and gifting). Family matters were recorded as well, such as marriage and adoption, since these issues are connected to the familial property (Jursa 2005, 9). The individuals are attested in the archives as the principal parties, such as debtor, creditor, guarantor, buyer or seller of properties; they served as witnesses and scribe of the text as well. They are commonly represented in writing as personal name, son of father’s name, descendant of family name; for example, Šellebu, son of Iddin-Nabu, descendant of Nappahu (abbreviated here in the form Šellebu/Iddin-Nabu//Nappahu). Because of this specificity, the individuals attested are easily disambiguated.

{% include feature/image.html objectid="/assets/img/tablet.jpeg" width="50" caption="Tablet Example" link="https://cdli.ucla.edu/search/search_results.php?SearchMode=Text&ObjectID=P421503" %}
   
{% endcapture %}
{% include feature/card.html text=intro %}
  
  </div>
  <div class="col-md-3">  

    {% include index/featured-terms.html field="subject" title="Subjects" btn-color="primary" %}

    {% include index/objects.html %}
    
    {% include index/data-download.html %}

  {% capture intro %}

  Databases in Assyriology

  - [ORACC](http://oracc.museum.upenn.edu/)
  - [Prosobab](https://prosobab.leidenuniv.nl/index.php)
  - [CDLI](https://cdli.ucla.edu/)
  - [BDTNS](http://bdtns.filol.csic.es/)

  {% endcapture %}
  {% include feature/card.html text=intro %}

  </div>

</div>
